.bookingHome {
  background-color: #1a1a1a;
}

.buttonLike {
  color: rgb(255, 255, 255);
  float: right;
  margin: 10px;
  background-color: #696969;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.spacer {
  margin-bottom: 100px;
}
